In [142]:
import pandas as pd
car=pd.read_csv('Car_DataSet.csv')
print(car)

                                       name    company  year          Price  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007         80,000
1                   Mahindra Jeep CL550 MDI   Mahindra  2006       4,25,000
2                Maruti Suzuki Alto 800 Vxi     Maruti  2018  Ask For Price
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014       3,25,000
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014       5,75,000
..                                      ...        ...   ...            ...
887                                      Ta       Tara  zest       3,10,000
888                     Tata Zest XM Diesel       Tata  2018       2,60,000
889                      Mahindra Quanto C8   Mahindra  2013       3,90,000
890                Honda Amaze 1.2 E i VTEC      Honda  2014       1,80,000
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014       1,60,000

     kms_driven fuel_type
0    45,000 kms    Petrol
1        40 kms    Diesel
2    22,000 kms    Petrol
3    28,000 kms    Petrol
4    36,000 kms    Diesel
..          ...       ...
887         NaN       NaN
888  27,000 kms    Diesel
889  40,000 kms    Diesel
890      Petrol       NaN
891      Petrol       NaN

[892 rows x 6 columns]

In [143]:
backup=car.copy()
car=car[car['year'].str.isnumeric()]

In [144]:
print(car)

                                       name    company  year          Price  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007         80,000
1                   Mahindra Jeep CL550 MDI   Mahindra  2006       4,25,000
2                Maruti Suzuki Alto 800 Vxi     Maruti  2018  Ask For Price
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014       3,25,000
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014       5,75,000
..                                      ...        ...   ...            ...
886                    Toyota Corolla Altis     Toyota  2009       3,00,000
888                     Tata Zest XM Diesel       Tata  2018       2,60,000
889                      Mahindra Quanto C8   Mahindra  2013       3,90,000
890                Honda Amaze 1.2 E i VTEC      Honda  2014       1,80,000
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014       1,60,000

       kms_driven fuel_type
0      45,000 kms    Petrol
1          40 kms    Diesel
2      22,000 kms    Petrol
3      28,000 kms    Petrol
4      36,000 kms    Diesel
..            ...       ...
886  1,32,000 kms    Petrol
888    27,000 kms    Diesel
889    40,000 kms    Diesel
890        Petrol       NaN
891        Petrol       NaN

[842 rows x 6 columns]

##quality

In [145]:
car['year']=car['year'].astype(int)

In [146]:
print(car)

                                       name    company  year          Price  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007         80,000
1                   Mahindra Jeep CL550 MDI   Mahindra  2006       4,25,000
2                Maruti Suzuki Alto 800 Vxi     Maruti  2018  Ask For Price
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014       3,25,000
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014       5,75,000
..                                      ...        ...   ...            ...
886                    Toyota Corolla Altis     Toyota  2009       3,00,000
888                     Tata Zest XM Diesel       Tata  2018       2,60,000
889                      Mahindra Quanto C8   Mahindra  2013       3,90,000
890                Honda Amaze 1.2 E i VTEC      Honda  2014       1,80,000
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014       1,60,000

       kms_driven fuel_type
0      45,000 kms    Petrol
1          40 kms    Diesel
2      22,000 kms    Petrol
3      28,000 kms    Petrol
4      36,000 kms    Diesel
..            ...       ...
886  1,32,000 kms    Petrol
888    27,000 kms    Diesel
889    40,000 kms    Diesel
890        Petrol       NaN
891        Petrol       NaN

[842 rows x 6 columns]

In [147]:
print(car['year'].dtype)

int32

In [148]:
print(car)

                                       name    company  year          Price  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007         80,000
1                   Mahindra Jeep CL550 MDI   Mahindra  2006       4,25,000
2                Maruti Suzuki Alto 800 Vxi     Maruti  2018  Ask For Price
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014       3,25,000
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014       5,75,000
..                                      ...        ...   ...            ...
886                    Toyota Corolla Altis     Toyota  2009       3,00,000
888                     Tata Zest XM Diesel       Tata  2018       2,60,000
889                      Mahindra Quanto C8   Mahindra  2013       3,90,000
890                Honda Amaze 1.2 E i VTEC      Honda  2014       1,80,000
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014       1,60,000

       kms_driven fuel_type
0      45,000 kms    Petrol
1          40 kms    Diesel
2      22,000 kms    Petrol
3      28,000 kms    Petrol
4      36,000 kms    Diesel
..            ...       ...
886  1,32,000 kms    Petrol
888    27,000 kms    Diesel
889    40,000 kms    Diesel
890        Petrol       NaN
891        Petrol       NaN

[842 rows x 6 columns]

In [149]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [150]:
car=car[car['Price']!='Ask For Price']
print(car)

                                       name    company  year     Price  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007    80,000
1                   Mahindra Jeep CL550 MDI   Mahindra  2006  4,25,000
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014  3,25,000
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014  5,75,000
6                                 Ford Figo       Ford  2012  1,75,000
..                                      ...        ...   ...       ...
886                    Toyota Corolla Altis     Toyota  2009  3,00,000
888                     Tata Zest XM Diesel       Tata  2018  2,60,000
889                      Mahindra Quanto C8   Mahindra  2013  3,90,000
890                Honda Amaze 1.2 E i VTEC      Honda  2014  1,80,000
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014  1,60,000

       kms_driven fuel_type
0      45,000 kms    Petrol
1          40 kms    Diesel
3      28,000 kms    Petrol
4      36,000 kms    Diesel
6      41,000 kms    Diesel
..            ...       ...
886  1,32,000 kms    Petrol
888    27,000 kms    Diesel
889    40,000 kms    Diesel
890        Petrol       NaN
891        Petrol       NaN

[819 rows x 6 columns]

In [151]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [152]:
car['Price']=car['Price'].str.replace(',','')

In [153]:
print(car['Price'])

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: object

In [154]:
car['Price']=car['Price'].astype(int)
print(car['Price'].dtype)

int32

In [155]:
car['kms_driven']=car['kms_driven'].str.replace('kms',"")
print(car['kms_driven'])

0        45,000
1            40
3        28,000
4        36,000
6        41,000
         ...
886    1,32,000
888      27,000
889      40,000
890       Petrol
891       Petrol
Name: kms_driven, Length: 819, dtype: object

In [156]:
car['kms_driven']=car['kms_driven'].str.replace(",","")
print(car['kms_driven'])

0       45000
1          40
3       28000
4       36000
6       41000
        ...
886    132000
888     27000
889     40000
890     Petrol
891     Petrol
Name: kms_driven, Length: 819, dtype: object

In [157]:
print(car['year'])

0      2007
1      2006
3      2014
4      2014
6      2012
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 819, dtype: int32

In [158]:
car=car[car['kms_driven']!='Petrol']

In [159]:
print(car['kms_driven'])

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 817, dtype: object

In [160]:
car['kms_driven']=car['kms_driven'].astype(int)

In [161]:
print(car['kms_driven'].dtype)

int32

In [162]:
car=car.dropna()
print(car)

                                       name   company  year   Price  \
0      Hyundai Santro Xing XO eRLX Euro III   Hyundai  2007   80000
1                   Mahindra Jeep CL550 MDI  Mahindra  2006  425000
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT   Hyundai  2014  325000
4          Ford EcoSport Titanium 1.5L TDCi      Ford  2014  575000
6                                 Ford Figo      Ford  2012  175000
..                                      ...       ...   ...     ...
883              Maruti Suzuki Ritz VXI ABS    Maruti  2011  270000
885               Tata Indica V2 DLE BS III      Tata  2009  110000
886                    Toyota Corolla Altis    Toyota  2009  300000
888                     Tata Zest XM Diesel      Tata  2018  260000
889                      Mahindra Quanto C8  Mahindra  2013  390000

     kms_driven fuel_type
0         45000    Petrol
1            40    Diesel
3         28000    Petrol
4         36000    Diesel
6         41000    Diesel
..          ...       ...
883       50000    Petrol
885       30000    Diesel
886      132000    Petrol
888       27000    Diesel
889       40000    Diesel

[816 rows x 6 columns]

In [163]:
car['name'].dtype

dtype('O')

In [164]:
print(car['name'])

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [165]:
print(car['name'])

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [166]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [167]:
print(car['name'])

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [168]:
car=car.reset_index(drop=True)

In [169]:
print(car)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [170]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [171]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [172]:
print(car)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [173]:
car.to_csv('Cleaned_Car_DataSet.csv')

In [174]:
X=car.drop(columns='Price')
y=car['Price']

In [175]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.5)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [ ]:
ohe= OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

OneHotEncoder()

In [ ]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [ ]:
lr=LinearRegression()

In [ ]:
pipe=make_pipeline(column_trans,lr)

In [ ]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [ ]:
y_pred=pipe.predict(X_test)

In [ ]:
y_pred

array([ 4.53850416e+05,  2.52776439e+05,  3.62898050e+05,  7.76485235e+05,
        1.86586121e+05,  1.51676201e+06,  1.71620352e+05,  1.13836620e+05,
        3.70470849e+05,  4.34344911e+05,  3.02891419e+05,  1.35843222e+05,
        3.03252054e+05,  1.45558724e+06,  8.21497558e+05,  6.98182798e+05,
        4.53060710e+04,  5.13443360e+04,  4.24955530e+05,  2.37157911e+05,
        4.19480551e+05,  2.27981425e+05,  2.56298482e+05,  2.48474393e+05,
        8.60442614e+05,  2.18426966e+05,  6.45180619e+05,  3.31998298e+05,
        4.16599605e+05,  6.63087534e+05,  2.46354089e+05,  3.11440344e+05,
        5.16502122e+05,  5.48467663e+05,  1.89873826e+05,  6.63058082e+05,
        4.94877176e+05,  8.41423685e+05,  2.48817294e+05,  5.97640483e+05,
        4.74374957e+05,  3.19363687e+05,  8.02127533e+04,  2.57182978e+05,
        5.43692755e+05,  5.06888101e+05,  2.60169541e+05,  1.59319765e+05,
        4.29249367e+05,  8.39078545e+05,  5.11827573e+05,  2.56782000e+05,
        5.06888101e+05,  8.89978388e+05,  4.89496792e+05,  1.34819285e+05,
        1.47836420e+06,  2.53133823e+05,  1.10599640e+05,  2.29371155e+05,
       -1.86174246e+04,  7.29705806e+05,  5.79575948e+05,  2.05047476e+05,
        6.82403005e+05,  5.26848707e+05,  4.88528030e+05,  3.92167873e+05,
        6.63320762e+05,  4.01147776e+05,  1.88789007e+05,  6.19133242e+05,
        3.08932790e+05,  5.35761674e+05,  5.97316785e+05,  2.37697713e+05,
        2.27710231e+05,  6.07688402e+05,  4.34924866e+05,  2.20441405e+05,
        3.26887035e+05,  3.28801304e+05,  1.56362381e+05,  3.26887035e+05,
        1.48483816e+06,  4.83791034e+05,  7.18175949e+05,  5.00320265e+05,
        9.09566507e+04,  2.51752613e+05,  2.88817974e+05,  5.10463798e+05,
        2.74182742e+05,  2.21605317e+05,  2.94856641e+05,  8.28062420e+05,
        8.52655192e+05,  5.34617460e+05,  7.36108245e+05,  4.69195788e+05,
        7.55313483e+05,  2.58282529e+05,  4.07531000e+05,  2.35995753e+05,
        2.54369901e+05,  5.97165867e+05,  3.14754804e+05,  3.01797067e+05,
        3.67499543e+05,  6.75917026e+05,  2.06623346e+05,  4.51749651e+05,
        5.03575168e+05,  4.24453786e+05,  6.75080447e+05,  4.77964265e+05,
        2.70025285e+05,  4.13898577e+05,  2.69379775e+05,  6.98182798e+05,
        6.60903925e+04,  2.55908525e+05,  4.30237999e+05,  5.97165867e+05,
        3.91149543e+05,  2.29581809e+05,  3.64343480e+05,  4.15588226e+05,
        2.83045766e+05,  1.71252489e+05,  2.93563017e+05,  6.40061275e+05,
        4.86697332e+05,  3.63653988e+05,  2.71673611e+05,  2.30414020e+05,
        6.20866575e+05,  6.69254785e+04,  1.17095333e+05,  2.19394192e+05,
        2.03941865e+05,  7.40642254e+05,  3.80981772e+05,  4.58424490e+05,
        8.60442614e+05,  3.63349493e+05,  1.47403803e+06,  1.51463127e+05,
        4.91333628e+05,  5.97640483e+05,  1.96519922e+05,  1.26722112e+05,
        3.49798234e+05,  3.67157533e+04,  3.32513499e+05,  2.12753246e+04,
        6.98182798e+05,  3.41937585e+05,  4.23496160e+05,  1.87522244e+05,
        3.56493811e+05,  1.81438304e+05,  7.40642254e+05,  7.38450831e+05,
        5.97640483e+05,  5.44059778e+05,  2.40890456e+05,  3.72001840e+05,
        5.76526826e+04,  2.94856641e+05,  4.33732069e+04,  2.83593118e+05,
        5.01950027e+05,  4.88236611e+05,  1.28958073e+05,  5.91538606e+05,
        2.52281910e+05,  4.97479687e+05,  5.41220899e+05,  1.53629121e+06,
        2.79518391e+05,  4.12695282e+05,  3.05938819e+05,  3.82038543e+04,
        1.61014962e+05,  3.58759723e+05,  1.40019152e+05,  7.32404465e+05,
        4.69393849e+05,  2.84760292e+05,  1.29875452e+05,  1.86586121e+05,
        4.02560030e+05,  1.19804635e+06,  4.26781483e+05,  1.29651477e+05,
        2.93424668e+05,  5.23482248e+05,  2.78023573e+05,  9.56248422e+05,
        5.95890545e+04,  2.59772562e+05,  1.75791518e+05,  2.79167431e+05,
        2.26163776e+05,  3.54551623e+05,  4.45771432e+05,  3.96022283e+04,
        5.02658855e+05,  3.49940572e+05,  6.85031525e+04,  1.32247036e+05,
        1.45507073e+05,  5.97316785e+05,  4.37836503e+05,  5.23482248e+05,
        6.99550154e+05,  2.49750192e+05,  2.09535716e+05,  5.00526586e+05,
       -9.02257573e+04,  2.05165575e+05,  7.29705806e+05,  1.51314306e+06,
        3.08173625e+05,  2.10233338e+05,  4.49146101e+05,  8.55818640e+04,
        2.10328772e+05,  3.76762104e+05,  3.63345540e+05,  2.64678667e+05,
        3.80639052e+04,  4.05706911e+05,  3.52980105e+05,  5.20891117e+05,
        2.59341243e+05,  2.36358684e+05,  1.68414303e+05,  1.84634534e+05,
        3.43764871e+05,  3.12342226e+05,  5.25472007e+05,  2.90112767e+05,
        4.24016454e+05,  5.36231878e+05,  5.30023637e+05,  2.42718439e+05,
        5.41676765e+05,  4.31249741e+04,  7.10743938e+05,  4.51925766e+05,
        2.88646728e+05,  4.46616022e+05,  2.30270445e+05,  4.97009012e+05,
        6.97132467e+05,  1.56057319e+05,  3.27420987e+05,  3.31731747e+05,
        5.09042381e+03,  3.23571671e+05,  3.16081019e+05,  6.97132467e+05,
       -2.23582749e+04,  2.53263541e+05,  3.87950542e+05,  4.15484422e+05,
        1.09124320e+05,  3.00272549e+05,  3.65394136e+05,  4.68725639e+05,
        3.08932790e+05,  6.07290032e+05,  1.86605543e+05,  3.88109119e+05,
        3.16150058e+05,  2.24338374e+05,  8.02127533e+04,  1.06824972e+05,
        1.67088580e+05,  3.79756548e+05,  1.33981470e+06,  7.54106436e+05,
        5.44777505e+05,  2.50575921e+05,  3.27310936e+05,  4.50140418e+05,
        2.16765068e+05,  3.13368983e+05,  5.25860128e+05,  1.93340712e+05,
        7.16406998e+05,  8.77559204e+05,  3.85707472e+05,  1.68917840e+05,
        3.73282588e+05,  2.67551793e+05,  8.20588913e+05,  6.52825179e+05,
        5.88859838e+05,  6.34425662e+05,  8.01967641e+05,  4.49677659e+05,
        7.45270929e+04,  1.89348340e+05,  2.00460076e+05,  4.18630119e+05,
       -1.04907811e+04,  3.60417008e+05,  1.88373897e+05,  3.97935275e+05,
        2.03752684e+05,  1.95904320e+05,  3.81533518e+05,  7.17709843e+05,
        3.76257427e+05,  4.67202891e+05,  1.54729290e+05,  4.15277412e+05,
        4.00077082e+05,  2.45617599e+05,  2.16675128e+05, -7.93291257e+04,
        8.88564936e+05,  6.69168431e+05,  4.19480551e+05,  5.03575168e+05,
        3.92167873e+05,  4.38345519e+05,  2.63020021e+05,  1.53633675e+06,
        5.97640483e+05,  3.69772988e+05,  2.47750138e+05,  5.95945035e+05,
       -1.16512667e+01,  4.03048243e+05,  2.32829619e+05,  4.26254530e+05,
       -6.89167521e+04,  5.97640483e+05,  6.65493306e+04,  6.16014312e+05,
        1.85893996e+05,  7.02109147e+05,  1.50793865e+05,  3.23420519e+05,
        3.50439156e+05,  3.27310936e+05,  5.45984685e+05,  1.11247036e+05,
        5.96636570e+05,  1.13946328e+05,  5.21106455e+05,  3.08932790e+05,
        3.65394136e+05,  2.13288366e+05,  5.97640483e+05,  4.13898577e+05,
        3.16081799e+05,  1.44803080e+05,  4.49983578e+05,  5.43163087e+05,
        2.31842664e+04,  6.47470916e+04,  3.60499987e+05,  5.00320265e+05,
        5.21865498e+05,  2.71379011e+05,  2.47710415e+05,  2.73842455e+05,
        2.91352065e+05,  6.34045407e+05,  3.04300997e+05,  3.84608664e+05,
        2.52281910e+05,  2.65440740e+05,  5.19693563e+05,  4.58249203e+05,
        3.64644285e+05,  3.91418795e+05,  2.01507814e+05,  8.29945324e+05,
        3.27839467e+05,  2.43829419e+05,  4.50908143e+05,  4.67900996e+05,
        2.67915648e+05,  1.02650360e+05,  1.15738246e+05,  7.76485235e+05,
        2.30917841e+05,  6.34058299e+05,  2.93952234e+05, -1.70610072e+04,
        2.71379011e+05,  7.96896509e+05,  3.01420181e+05,  3.17637486e+05,
        7.16406998e+05,  7.44526631e+05,  7.56358079e+05,  6.75917026e+05,
        6.68621642e+05,  3.50624331e+05,  4.79083976e+05,  6.88537223e+05])

array([ 4.53850416e+05,  2.52776439e+05,  3.62898050e+05,  7.76485235e+05,
        1.86586121e+05,  1.51676201e+06,  1.71620352e+05,  1.13836620e+05,
        3.70470849e+05,  4.34344911e+05,  3.02891419e+05,  1.35843222e+05,
        3.03252054e+05,  1.45558724e+06,  8.21497558e+05,  6.98182798e+05,
        4.53060710e+04,  5.13443360e+04,  4.24955530e+05,  2.37157911e+05,
        4.19480551e+05,  2.27981425e+05,  2.56298482e+05,  2.48474393e+05,
        8.60442614e+05,  2.18426966e+05,  6.45180619e+05,  3.31998298e+05,
        4.16599605e+05,  6.63087534e+05,  2.46354089e+05,  3.11440344e+05,
        5.16502122e+05,  5.48467663e+05,  1.89873826e+05,  6.63058082e+05,
        4.94877176e+05,  8.41423685e+05,  2.48817294e+05,  5.97640483e+05,
        4.74374957e+05,  3.19363687e+05,  8.02127533e+04,  2.57182978e+05,
        5.43692755e+05,  5.06888101e+05,  2.60169541e+05,  1.59319765e+05,
        4.29249367e+05,  8.39078545e+05,  5.11827573e+05,  2.56782000e+05,
        5.06888101e+05,  8.89978388e+05,  4.89496792e+05,  1.34819285e+05,
        1.47836420e+06,  2.53133823e+05,  1.10599640e+05,  2.29371155e+05,
       -1.86174246e+04,  7.29705806e+05,  5.79575948e+05,  2.05047476e+05,
        6.82403005e+05,  5.26848707e+05,  4.88528030e+05,  3.92167873e+05,
        6.63320762e+05,  4.01147776e+05,  1.88789007e+05,  6.19133242e+05,
        3.08932790e+05,  5.35761674e+05,  5.97316785e+05,  2.37697713e+05,
        2.27710231e+05,  6.07688402e+05,  4.34924866e+05,  2.20441405e+05,
        3.26887035e+05,  3.28801304e+05,  1.56362381e+05,  3.26887035e+05,
        1.48483816e+06,  4.83791034e+05,  7.18175949e+05,  5.00320265e+05,
        9.09566507e+04,  2.51752613e+05,  2.88817974e+05,  5.10463798e+05,
        2.74182742e+05,  2.21605317e+05,  2.94856641e+05,  8.28062420e+05,
        8.52655192e+05,  5.34617460e+05,  7.36108245e+05,  4.69195788e+05,
        7.55313483e+05,  2.58282529e+05,  4.07531000e+05,  2.35995753e+05,
        2.54369901e+05,  5.97165867e+05,  3.14754804e+05,  3.01797067e+05,
        3.67499543e+05,  6.75917026e+05,  2.06623346e+05,  4.51749651e+05,
        5.03575168e+05,  4.24453786e+05,  6.75080447e+05,  4.77964265e+05,
        2.70025285e+05,  4.13898577e+05,  2.69379775e+05,  6.98182798e+05,
        6.60903925e+04,  2.55908525e+05,  4.30237999e+05,  5.97165867e+05,
        3.91149543e+05,  2.29581809e+05,  3.64343480e+05,  4.15588226e+05,
        2.83045766e+05,  1.71252489e+05,  2.93563017e+05,  6.40061275e+05,
        4.86697332e+05,  3.63653988e+05,  2.71673611e+05,  2.30414020e+05,
        6.20866575e+05,  6.69254785e+04,  1.17095333e+05,  2.19394192e+05,
        2.03941865e+05,  7.40642254e+05,  3.80981772e+05,  4.58424490e+05,
        8.60442614e+05,  3.63349493e+05,  1.47403803e+06,  1.51463127e+05,
        4.91333628e+05,  5.97640483e+05,  1.96519922e+05,  1.26722112e+05,
        3.49798234e+05,  3.67157533e+04,  3.32513499e+05,  2.12753246e+04,
        6.98182798e+05,  3.41937585e+05,  4.23496160e+05,  1.87522244e+05,
        3.56493811e+05,  1.81438304e+05,  7.40642254e+05,  7.38450831e+05,
        5.97640483e+05,  5.44059778e+05,  2.40890456e+05,  3.72001840e+05,
        5.76526826e+04,  2.94856641e+05,  4.33732069e+04,  2.83593118e+05,
        5.01950027e+05,  4.88236611e+05,  1.28958073e+05,  5.91538606e+05,
        2.52281910e+05,  4.97479687e+05,  5.41220899e+05,  1.53629121e+06,
        2.79518391e+05,  4.12695282e+05,  3.05938819e+05,  3.82038543e+04,
        1.61014962e+05,  3.58759723e+05,  1.40019152e+05,  7.32404465e+05,
        4.69393849e+05,  2.84760292e+05,  1.29875452e+05,  1.86586121e+05,
        4.02560030e+05,  1.19804635e+06,  4.26781483e+05,  1.29651477e+05,
        2.93424668e+05,  5.23482248e+05,  2.78023573e+05,  9.56248422e+05,
        5.95890545e+04,  2.59772562e+05,  1.75791518e+05,  2.79167431e+05,
        2.26163776e+05,  3.54551623e+05,  4.45771432e+05,  3.96022283e+04,
        5.02658855e+05,  3.49940572e+05,  6.85031525e+04,  1.32247036e+05,
        1.45507073e+05,  5.97316785e+05,  4.37836503e+05,  5.23482248e+05,
        6.99550154e+05,  2.49750192e+05,  2.09535716e+05,  5.00526586e+05,
       -9.02257573e+04,  2.05165575e+05,  7.29705806e+05,  1.51314306e+06,
        3.08173625e+05,  2.10233338e+05,  4.49146101e+05,  8.55818640e+04,
        2.10328772e+05,  3.76762104e+05,  3.63345540e+05,  2.64678667e+05,
        3.80639052e+04,  4.05706911e+05,  3.52980105e+05,  5.20891117e+05,
        2.59341243e+05,  2.36358684e+05,  1.68414303e+05,  1.84634534e+05,
        3.43764871e+05,  3.12342226e+05,  5.25472007e+05,  2.90112767e+05,
        4.24016454e+05,  5.36231878e+05,  5.30023637e+05,  2.42718439e+05,
        5.41676765e+05,  4.31249741e+04,  7.10743938e+05,  4.51925766e+05,
        2.88646728e+05,  4.46616022e+05,  2.30270445e+05,  4.97009012e+05,
        6.97132467e+05,  1.56057319e+05,  3.27420987e+05,  3.31731747e+05,
        5.09042381e+03,  3.23571671e+05,  3.16081019e+05,  6.97132467e+05,
       -2.23582749e+04,  2.53263541e+05,  3.87950542e+05,  4.15484422e+05,
        1.09124320e+05,  3.00272549e+05,  3.65394136e+05,  4.68725639e+05,
        3.08932790e+05,  6.07290032e+05,  1.86605543e+05,  3.88109119e+05,
        3.16150058e+05,  2.24338374e+05,  8.02127533e+04,  1.06824972e+05,
        1.67088580e+05,  3.79756548e+05,  1.33981470e+06,  7.54106436e+05,
        5.44777505e+05,  2.50575921e+05,  3.27310936e+05,  4.50140418e+05,
        2.16765068e+05,  3.13368983e+05,  5.25860128e+05,  1.93340712e+05,
        7.16406998e+05,  8.77559204e+05,  3.85707472e+05,  1.68917840e+05,
        3.73282588e+05,  2.67551793e+05,  8.20588913e+05,  6.52825179e+05,
        5.88859838e+05,  6.34425662e+05,  8.01967641e+05,  4.49677659e+05,
        7.45270929e+04,  1.89348340e+05,  2.00460076e+05,  4.18630119e+05,
       -1.04907811e+04,  3.60417008e+05,  1.88373897e+05,  3.97935275e+05,
        2.03752684e+05,  1.95904320e+05,  3.81533518e+05,  7.17709843e+05,
        3.76257427e+05,  4.67202891e+05,  1.54729290e+05,  4.15277412e+05,
        4.00077082e+05,  2.45617599e+05,  2.16675128e+05, -7.93291257e+04,
        8.88564936e+05,  6.69168431e+05,  4.19480551e+05,  5.03575168e+05,
        3.92167873e+05,  4.38345519e+05,  2.63020021e+05,  1.53633675e+06,
        5.97640483e+05,  3.69772988e+05,  2.47750138e+05,  5.95945035e+05,
       -1.16512667e+01,  4.03048243e+05,  2.32829619e+05,  4.26254530e+05,
       -6.89167521e+04,  5.97640483e+05,  6.65493306e+04,  6.16014312e+05,
        1.85893996e+05,  7.02109147e+05,  1.50793865e+05,  3.23420519e+05,
        3.50439156e+05,  3.27310936e+05,  5.45984685e+05,  1.11247036e+05,
        5.96636570e+05,  1.13946328e+05,  5.21106455e+05,  3.08932790e+05,
        3.65394136e+05,  2.13288366e+05,  5.97640483e+05,  4.13898577e+05,
        3.16081799e+05,  1.44803080e+05,  4.49983578e+05,  5.43163087e+05,
        2.31842664e+04,  6.47470916e+04,  3.60499987e+05,  5.00320265e+05,
        5.21865498e+05,  2.71379011e+05,  2.47710415e+05,  2.73842455e+05,
        2.91352065e+05,  6.34045407e+05,  3.04300997e+05,  3.84608664e+05,
        2.52281910e+05,  2.65440740e+05,  5.19693563e+05,  4.58249203e+05,
        3.64644285e+05,  3.91418795e+05,  2.01507814e+05,  8.29945324e+05,
        3.27839467e+05,  2.43829419e+05,  4.50908143e+05,  4.67900996e+05,
        2.67915648e+05,  1.02650360e+05,  1.15738246e+05,  7.76485235e+05,
        2.30917841e+05,  6.34058299e+05,  2.93952234e+05, -1.70610072e+04,
        2.71379011e+05,  7.96896509e+05,  3.01420181e+05,  3.17637486e+05,
        7.16406998e+05,  7.44526631e+05,  7.56358079e+05,  6.75917026e+05,
        6.68621642e+05,  3.50624331e+05,  4.79083976e+05,  6.88537223e+05])

In [ ]:
r2_score(y_test,y_pred)

0.47230397647776523

0.47230397647776523

In [ ]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    print(r2_score(y_test,y_pred),i)
    scores.append(r2_score(y_test,y_pred))

NameError: name 'train_test_split' is not defined

In [ ]:
import numpy as np
np.argmax(scores)

In [ ]:
scores[np.argmax(scores)]

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

In [ ]:
%pip install pickle-mixin

Collecting pickle-mixin
  Downloading pickle-mixin-1.0.2.tar.gz (5.1 kB)
Using legacy 'setup.py install' for pickle-mixin, since package 'wheel' is not installed.
Installing collected packages: pickle-mixin
    Running setup.py install for pickle-mixin: started
    Running setup.py install for pickle-mixin: finished with status 'done'
Successfully installed pickle-mixin-1.0.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.1; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\manan\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('LinearregressionModel.pkl','wb'))

NameError: name 'pickle' is not defined

In [ ]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

NameError: name 'pipe' is not defined